footer .footer_contato, .footer_pessoal, .footer_projetos{
    padding: 10px;
}

.footer_pessoal{
    border: 1px solid black;
}

.footer_projetos{
    border: 1px solid black;
}

.footer_contato{
    border: 1px solid black;
}

.contato_imagens img{
    width: 40px;
    height: 40px;
}