header a{
    text-decoration: none;
    color: #FAF9F6;
    display: inline-block;
    transition: transform 0.3s ease;
}

header h3 {
    font-weight: 600;
}

header a:hover{
    transform: scale(1.2);
    color: #d3d3d3;
}

.header_logo{
    padding-left: 2vw;
    width: 10vw;
    background-color: aqua;
    justify-items: center;
}

/* .header_logo img{
    max-width: 5vw;
} */

.header_total{
    display: flex;
    gap: 2vw;
    align-content: center;
}