.header_logo{
    padding-left: 2rem;
}

.header_logo img{
    max-height: 7vh;
}

#lista_header{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

#lista_header h3{
    color: white;
}