.pg_principal img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
/*.pg_principal {
    display: flexbox;
    columns: 1;
} */
.pg_principal section {
    border: 1px solid black;
}

.apresentacao {
    display: grid;
    grid-template-columns: 70% 1fr;
    background-color: #323232;
    min-height: 90vh;
    align-items: center;
    color: #fdfdea;
}