@import url("./footer.css");
@import url("./index.css");
@import url("./header.css");
@import url("./projetos.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
div{
    border: 1px solid black;
}

section{
    border: 1px solid aqua;
}

* {
    outline: 2px solid red;
} */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main{
    flex-grow: 1;
}

footer{
    background-image: linear-gradient(to bottom, #464646, #161616);
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    background-color:#2B2B2B;
    min-height: 30vh;
    padding: 15px;
    text-align: justify;
    color: #FAF9F6;
    font-weight: 500;
}

header {
    background-color: #161616;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    color: #FAF9F6;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: lighter;
    height: 7vh;
}